.leaderboard-wrapper {
    overflow-y: scroll;
    height:80vh;
}

.leaderboard-heading {
    margin-bottom: 8px;
}

.leaderboard-results-wrapper {
    overflow-y: scroll;
    height: 300px;
}

.text-bold {
    font-weight: bold;
}

.name-valid-warning {
    color: red;
    font-size: 0.7em;
}

table, th, td {
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
}

.table-col-1 {
    width: 10%;
    text-align: center;
}

.table-col-2 {
    width: 70%;
}

.table-col-3 {
    width: 20%;
    text-align: center;
}