.stat-container {
    display: flex;
    background-color: #3a3a3a;
    border-radius: 5px;
    margin: 20px;
    width: 100%;
    box-shadow: 0 0 .3em .3em #1e1e1e;
}

.leaderboard-button {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 76%;
    background-color: #1e1e1e;
    color: white;
    border-color: #3A3A3A;
    border-style: solid;
    border-radius: 5px;
    padding: 3px;
}

.leaderboard-close {
    position: absolute;
    font-size: 1.5em;
    color: white;
    top: 0px;
    right: 0px;
    background: none;
    border: none;
    border-style: none;
    margin: 0;
    padding: 10px;
    cursor: pointer;
}

.leaderboard-close:focus {
    outline:none;
}

.stat-boxes {
    flex: 50%;
    margin: 15px;
    width: 100%;
    justify-content: center;
    text-align: center;
    font-size: 3.5em;
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
    font-weight: bold;
}

.percent-sign{
    font-size: 0.5em;
}

.stat-heading {
    color: #FFFFFF;
    text-align: left;
    font-size: 0.25em;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 7px;
}