.correctChar {
    color: #6863ce;
    font-family: 'Raleway', sans-serif;
}

.incorrectChar {
    color: #ff554C;
    text-decoration: line-through;
    font-family: 'Raleway', sans-serif;
}

.default {
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
}
