.statHolder {
    display: flex;
    background-color: #3a3a3a;
    border-radius: 5px;
    margin: 20px;
    width: 100%;
    box-shadow: 0 0 .3em .3em #1e1e1e;
}

.statBoxes {
    flex: 50%;
    margin: 15px;
    width: 100%;
    justify-content: center;
    text-align: center;
    font-size: 30pt;
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
    font-weight: bold;
}

.stat-heading {
    color: #FFFFFF;
    text-align: left;
    font-size: 10pt;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 7px;
}