.progress-div {
    background-color: rgb(112, 112, 112);
    border-radius: .5rem;
    font-size: 10pt;
}

.progress {
    background-color: rgb(62, 122, 235);
    height: 15px;
    border-radius: 1rem;
    transition: 0.2s ease;
    transition-delay: 0s;
  }