.timer-wrapper {
    background-color: #3a3a3a;
    padding: 5px;
    box-shadow: 0 0 .3em .3em #1e1e1e;
    border-radius: 100%;
    display: flex;
    position: relative;
    top: -57px;
  }
  
.timer {
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
.text {
    color: #ffffff;
    font-size: 15pt;
  }
  
.value {
    font-size: 32pt;
  }
  
.reset-button{
    height: 90%;
    width: 90%;
    border-style: hidden;
    border-radius: 100%;
    color: #ffffff;
    background-color: #1e1e1e;
    font-size: 1.2em;
    transition-duration: 0.4s;
  }
  
.reset-button:hover {
    background-color: #3a3a3a;
  }